<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Leyndó</h1>
    <p class="lead">deildu leyndarmálum í leyni...</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Nýskráning</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Skráning</a>

  </div>
</div>

<%- include('partials/footer') %>
